

<div class="
    fixed
    bg-blue-400
    shadow-md
    w-full
    px-10
    py-2
    flex
    justify-start
    items-center
  ">
  <a href="/suggestions">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
</a>
    <div class="text-4xl text-white mx-8 my-4"><%= curr_info.quiz_name %> Reading Suggestions</div>
</div>

<div class="flex flex-wrap h-full w-screen overflow-none p-20">
    <div class="bg-white shadow-md rounded-3xl p-5 w-5/6 m-auto mt-12">
        
            <p class="text-4xl font-bold text-gray-700 w-100 text-center mt-6">Questions</p>
        
        
        <div>

            <% for (var i=0; i < curr_info.num_questions; i++) {%>

            <div class="border-solid border-4 m-8 p-8">
                <p class="text-xl font-bold text-gray-400">Question <%= i+1 %>.</p>
                <p class="text-xl font-bold mx-2"><%= curr_quiz.questions[i].question %></h2>
                <div class="flex space-between m-2">

                    <div class="w-3/5">
                        <p class="text-xl font-bold">Explaination :</p>
                        <p class="mx-2 text-xl">Correct Answer: <%= curr_quiz.questions[i].options[curr_quiz.questions[i].answer] %></p>
                        <p class="mx-2 text-lg"><%= curr_quiz.questions[i].explain %></p>
                    </div>
                    <div class="mx-auto">

                        <div class="text-blue-600 text-lg m-2" onclick="show_pdf_data('<%= i %>','1', '<%= curr_quiz.questions[i].sugg_1[0] %>', '<%= curr_quiz.questions[i].sugg_1[1] %>')">
                            View Suggestions 1 >>>>
                        </div>
                        <div class="text-blue-600 text-lg m-2" onclick="show_pdf_data('<%= i %>','2', '<%= curr_quiz.questions[i].sugg_2[0] %>', '<%= curr_quiz.questions[i].sugg_2[1] %>')">
                            View Suggestions 2 >>>>
                        </div>
                        <div class="text-blue-600 text-lg m-2" onclick="show_pdf_data('<%= i %>','3', '<%= curr_quiz.questions[i].sugg_3[0] %>', '<%= curr_quiz.questions[i].sugg_3[1] %>')">
                            View Suggestions 3 >>>>
                        </div>

                        
                    </div>
                </div>
            </div>

            <% } %>

        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/tailwind/tailwind_classic.css" />
<link rel="stylesheet" href="/static/reports/report_styles.css">


<div
  class="
    bg-black bg-opacity-50
    fixed
    inset-0
    flex
    justify-center
    w-screen
    items-center
    hidden
  "
  id="popup-box"
  onclick="remove_popup()"
>
  <div class="h-max w-4/5 bg-white card rounded-3xl shadow-md">
    <div class="w-full h-full">
      <div class="w-full h-max">
        <div class="grid grid-cols-3">
            <h2 class="ml-8 font-bold mt-12 pb-2 border-b border-gray-200mx-auto text-3xl">Contents:</h2>
            <h2 id = "orig_notes_pg_no" class="font-bold mt-12 pb-2 border-b border-gray-200mx-auto text-xl"></h2>
            <a id="go_to_orig" href=""><div class="text-center bg-blue-300 rounded-full py-4 px-12 h-16 ml-auto mr-8 mt-12 w-max font-bold text-white text-xl hover:bg-blue-500 transition- duration-500">View Original >>> </div></a>
        </div>
        
        <object type="application/pdf" width="100%" height="800px" id="pdfview" class="h-max w-9/12 mx-auto my-12" data="">
            
        </object>
      </div>
    </div>
  </div>

  <script>
    function remove_popup (){
        window.location.reload();
    }
    async function show_pdf_data (quest_num, index, orig_notes_code, orig_notes_pg_no) {
        pdf_view = document.getElementById("pdfview");
        var _database = "<%= curr_info._database %>";
        var _organization = "<%= curr_info._organization %>";
        const res = await fetch(
            `http://localhost:5000/get-suggestion`,
            {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    'Access-Control-Allow-Origin': 'http://localhost:3000',
                    'Access-Control-Allow-Credentials': 'true',
                },
                body: JSON.stringify({
                    "_database":_database,
                    "_organization":_organization,
                    "question_number":quest_num,
                    "sugg_ind":index,
                    "quiz_code":"<%= curr_info.quiz_code %>"
                }),
            }
        );
        console.log("done0")

        const blob_res = await res.blob()
        console.log(blob_res)

        const blob = await new Blob([blob_res], {
            type: "application/pdf",
        });
        url = URL.createObjectURL(blob_res);
        decrypted = true;
        console.log("done")
        console.log(url)

        pdf_view = document.getElementById("pdfview");
        go_to_orig = document.getElementById("go_to_orig");
        pdfview.setAttribute('data', url);;
        go_to_orig.href = "/notes/view_by_id?id="+orig_notes_code+"&subject="+"<%= curr_quiz.subject %>";
        // pdfview.data = url;
        // isLoading = false;
        orig_pg = document.getElementById("orig_notes_pg_no");
        orig_pg.innerHTML = "(From Page no. " + orig_notes_pg_no+")"
        
        const popup_box = document.getElementById("popup-box");
        popup_box.style.display = "flex";
    };
  </script>
</div>
