
<h2 class="font-bold mt-12 pb-2 border-b border-gray-200 mx-auto text-xl">Customize your Quiz:</h2>

<div class="w-full flex">
  <div class="w-2/5 mx-2 my-4 bg-white p-5 card rounded-3xl shadow-lg">
    <form class="quiz-form" id="quiz-form">
      <h2 class="text-xl font-bold tracking-wide">Make a new Quiz:</h2>

      <div
        class="
          border
          focus-within:border-blue-500 focus-within:text-blue-500
          transition-all
          duration-500
          rounded
          p-1
          my-4
        "
      >
        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
          <p>
            <label for="quiz_name" class="bg-white font-bold px-1"
              >Name of quiz:</label
            >
          </p>
        </div>
        <p>
          <input
            id="quiz_name"
            autocomplete="off"
            tabindex="0"
            type="text"
            required
            class="py-1 px-1 text-gray-900 outline-none block h-full w-full"
          />
        </p>
      </div>

      <div class="flex my-2">
        <div
          class="
            border
            focus-within:border-blue-500 focus-within:text-blue-500
            transition-all
            duration-500
            rounded
            p-1
            mr-4
            w-full
          "
        >
          <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
            <p>
              <label for="num_questions" class="bg-white font-bold px-1"
                >No. of Questions:</label
              >
            </p>
          </div>
          <p>
            <input
              id="num_questions"
              min="1"
              max="90"
              required
              name="num_questions"
              autocomplete="false"
              tabindex="0"
              type="number"
              class="py-1 px-1 text-gray-900 outline-none block h-full w-full"
            />
          </p>
        </div>
        <div
          class="
            border
            focus-within:border-blue-500 focus-within:text-blue-500
            transition-all
            duration-500
            rounded
            p-1
            ml-auto
            w-full
          "
        >
          <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
            <p>
              <label for="quiz_name" class="bg-white font-bold px-1"
                >Quiz Duration (Mins):</label
              >
            </p>
          </div>
          <p>
            <input
              type="number"
              id="quiz_time"
              name="quiz_time"
              min="1"
              max="180"
              required
              autocomplete="false"
              tabindex="0"
              class="py-1 px-1 text-gray-900 outline-none block h-full w-full"
            />
          </p>
        </div>
      </div>

      <div
        class="
          border
          focus-within:border-blue-500 focus-within:text-blue-500
          transition-all
          duration-500
          rounded
          p-1
          my-4
        "
      >
        <div class="-mt-4 absolute tracking-wider px-1 uppercase text-xs">
          <p>
            <label for="subject" class="bg-white font-bold px-1"
              >Subject:</label
            >
          </p>
        </div>
        <p>
          <select
            id="subject"
            name="subject"
            autocomplete="false"
            tabindex="0"
            class="py-1 px-1 outline-none block h-full w-full"
          > 
          <% for (var i=0; i < subject_data.length; i++) {%>
            <option value="<%= subject_data[i].subject_code %>"><%= subject_data[i].subject_name %></option>
            <% } %>
          </select>
        </p>
      </div>

      <div class="w-100 flex flex-wrap">
        <div></div>
        <div
          class="
            rounded-lg
            ml-auto
            font-bold
            text-white
            px-3
            py-1
            bg-blue-400
            hover:shadow-inner
            hover:bg-blue-700
            transition-all
            duration-700
          "
          id="quiz-form-submit-button"
        >
          Build this Quiz >>>
        </div>
      </div>
    </form>
  </div>

  
</div>

<h2 class="font-bold mt-12 pb-2 border-b border-gray-200 mx-auto text-xl">Recently Built Quizzes:</h2>

<div class="mt-8 grid grid-cols-3 mx-auto">
  <% for (var i=0; i < past_built_quiz.length; i++) {%>
  <div
  class="
    min-w-max
    card
    p-2
    m-2
    rounded-lg
    border
    border-blue-300
    shadow-md
    bg-white
    hover:shadow-xl
    transition-shadow
    duration-300
    ease-in-out
  "
>
  <div class="w-60"></div>
  <h2 class="font-bold pb-2 border-b border-gray-200 ml-4 mt-4 text-xl"><%= past_built_quiz[i].quiz_name %> :</h2>
  <div class="font-bold p-1 ml-8">Number of Questions: <%= past_built_quiz[i].num_questions %> </div>
  <div class="font-bold p-1 ml-8">Quiz Duration: <%= past_built_quiz[i].quiz_time %> </div>
  <div class="font-bold p-1 ml-8">Subject: <%= code_to_subj[past_built_quiz[i].subject] %> </div>
  <a href="/quizzer/quiz?quizcode=<%= past_built_quiz[i].quiz_code %>">
    <div
    class="
      py-1
      px-3
      m-1
      rounded-lg
      ml-auto
      w-max
      font-bold
      text-white
      bg-blue-400
      hover:shadow-inner
      hover:bg-blue-700
      transition-all
      duration-700
    "
    >
      Retake this Quiz >>>
    </div>
  </a>
  
  </div>
  <% } %>
</div>


<div
  class="
    bg-black bg-opacity-50
    absolute
    inset-0
    flex
    justify-center
    items-center
    hidden
  "
  id="popup-box"
>
  <div class="h-1/2 w-2/5 bg-white card rounded-3xl shadow-md">
    <div class="w-full h-full">
      <div class="w-full h-max">
        <div id="loading-wait-content">
          <h2 class="text-xl font-bold tracking-wide mt-4 text-center">
            Please Wait till we build your Quiz:
          </h2>
        </div>
        <div id="loading-wait-notice">
          <h2
            class="text-gray-500 font-bold tracking-wide mb-4 mx-10 text-center"
          >
            Meanwhile, you can explore the other sections, the quiz will be
            automatically added to your recently built
          </h2>
        </div>
      </div>

      <div id="loading-done-content">
        <h2
          class="text-xl font-bold tracking-wide mt-4 text-center"
          id="loading-done-content"
        >
          Your Quiz has been built:
        </h2>
      </div>

      <div class="w-full mt-12" id="loading-wait-animation">
        <img src="/static/assets/oval.svg" class="h-1/5 w-1/5 mx-auto" alt="" />
      </div>

      <div class="w-full" id="loading-done-animation">
        <img src="/static/assets/checkmark.svg" class="h-1/5 w-1/5 mx-auto" alt="" />
      </div>

      <div id="loading-done-buttons">
        <div class="w-4/5 mx-auto flex flex-wrap">
          <a href="quizzes">
            <div
            class="
              rounded-lg
              mx-auto
              font-bold
              text-white
              px-3
              py-1
              bg-blue-400
              hover:shadow-inner
              hover:bg-blue-700
              transition-all
              duration-700
            "
            >
              Later (Adds to Recently Built)
            </div>
          </a>

          <div
            class="
              rounded-lg
              mx-auto
              font-bold
              text-white
              px-3
              py-1
              bg-blue-400
              hover:shadow-inner
              hover:bg-blue-700
              transition-all
              duration-700
            "
            id="quiz-form-submit-button"
          >
            <a href="" id="go-to-quiz"> Take Quiz Now >>></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const quiz_form = document.getElementById("quiz-form");
    const submit_button = document.getElementById("quiz-form-submit-button");
    const popup_box = document.getElementById("popup-box");

    const loading_wait_content = document.getElementById(
      "loading-wait-content"
    );
    const loading_wait_notice = document.getElementById("loading-wait-notice");
    const loading_done_content = document.getElementById(
      "loading-done-content"
    );
    const loading_done_buttons = document.getElementById(
      "loading-done-buttons"
    );
    const loading_wait_animation = document.getElementById("loading-wait-animation");
    const loading_done_animation = document.getElementById("loading-done-animation");
    const curr_quiz_link = document.getElementById("go-to-quiz");

    // Form inputs
    const quiz_name_input = document.getElementById("quiz_name");
    const quiz_time_input = document.getElementById("quiz_time");
    const quiz_subject_input = document.getElementById("subject");
    const quiz_num_questions_input = document.getElementById("num_questions");

    submit_button.onclick = function () {
      popup_box.style.display = "flex";
      loading_done_content.style.display = "none";
      loading_done_buttons.style.display = "none";
      loading_done_animation.style.display = "none";

      //TODO: Add form validation
      const data = {
        subject: quiz_subject_input.value,
        num_questions: quiz_num_questions_input.value,
        quiz_time: quiz_time_input.value,
        quiz_name: quiz_name_input.value,
      };

      fetch("/api/build-quiz", {
        method: "POST",
        body: JSON.stringify(data),
        headers: {
          "Content-type": "application/json; charset=UTF-8",
        },
      })
        .then((response) => response.json())
        .then((json) => {
          //TODO: Make the item alignment and loading transition proper.
          loading_wait_content.style.display = "none";
          loading_wait_notice.style.display = "none";
          loading_wait_animation.style.display = "none";

          loading_done_content.style.display = "block";
          loading_done_buttons.style.display = "block";
          loading_done_animation.style = "";
          loading_done_animation.classList.add("my-28");
          curr_quiz_link.href = "/quizzer/quiz?quizcode=" + json.quiz_code;
        });
    };
  </script>

  <link rel="stylesheet" href="static/dashboard/dashboard_quizzes.css" />
</div>
