<h2 class="font-bold mt-12 pb-2 border-b border-gray-200">Books and Notes recommended by IIITM:</h2>
<div class="mt-8 grid grid-cols-3">
  <% for (var i=0; i < resp_data.length; i++) {%>
    <div class="card rounded-3xl shadow-md border-t-4 border-blue-300 mx-8 my-4">
        <div class="m-4">
          <span class="font-bold">Subject: <%= resp_data[i].subject_name %></span>
    
          <div class="w-100 flex">
            <div>
              <span class="block text-gray-500 text-sm">Subject Code: <%= resp_data[i].subject_code %></span>
              <span class="block text-gray-500 text-sm"></span>
            </div>
            <a
              href="/notes/org?subject=<%= resp_data[i].subject_code %>"
              class="ml-auto"
              ><span class="text-blue-600 text-sm">View all >>></span></a
            >
          </div>
        </div>
      </div>
    
      <% } %>
</div>

<h2 class="font-bold mt-12 pb-2 border-b border-gray-200">Custom Books and Notes:</h2>

<div class="mt-8 grid grid-cols-3">
  <% for (var i=0; i < resp_data.length; i++) {%>
    <div class="card rounded-3xl shadow-md border-t-4 border-blue-300 mx-8 my-4">
        <div class="m-4">
          <span class="font-bold">Subject: <%= resp_data[i].subject_name %></span>
    
          <div class="w-100 flex">
            <div>
              <span class="block text-gray-500 text-sm">Subject Code: <%= resp_data[i].subject_code %></span>
              <span class="block text-gray-500 text-sm"></span>
            </div>
            <a
              href="/notes/usr?subject=<%= resp_data[i].subject_code %>"
              class="ml-auto"
              ><span class="text-blue-600 text-sm">View all >>></span></a
            >
          </div>
        </div>
      </div>
    
      <% } %>

    
</div>