
<div class="fixed bg-blue-400 shadow-md w-full px-10 py-2 flex justify-between items-center">
    <div class="text-2xl text-white"><%= quiz_data.name %></div>
    <div class="justify-around px-10">
        <div class="text-white"> Time Left:</div>
        <div class="text-xl text-white" id="quiz-timer"></div>
    </div>
</div>

<div class="bg-white flex flex-wrap h-full w-screen overflow-scroll p-20">
  <div class="bg-white shadow-xl rounded-3xl p-5 border-t-4 border-blue-300 w-4/5 m-auto">
    <p class="text-4xl font-bold text-gray-700 w-100 text-center my-12">Questions</p>
    <form action="/quizzer/submit" method="POST" id="submit-form">
      <input type="hidden" value="<%= quiz_data.quiz_code %>" name="quiz_code" class="quiz_code">
      <input type="hidden" value="<%= quiz_data.quiz_name %>" name="quiz_name" class="quiz_name">
      <input type="hidden" value="<%= quiz_data.num_questions %>" name="num_questions" class="num_questions">
      <% for (var i=0; i < quiz_data.questions.length; i++) {%>

        <div class="border-solid border-4 m-8 p-8">
          <p class="text-xl font-bold text-gray-400">Question <%= i+1 %>.</p>
          <p class="text-xl font-bold mx-2"><%= quiz_data.questions[i].question %></h2>
          <div class="w-full m-2">
            <div class="flex">
              <input
              value="0"
              type="radio"
              name="<%= i %>"
              id="ans0"
              class="<%= i %> my-auto ml-4"

            />
            <p class="text-xl font-bold mx-2 my-auto"><%= quiz_data.questions[i].options[0] %></p>
            </div>
            
            <div class="flex">
              <input
              value="1"
              type="radio"
              name="<%= i %>"
              id="ans0"
              class="<%= i %> my-auto ml-4"
            />
            <p class="text-xl font-bold mx-2 my-auto"><%= quiz_data.questions[i].options[1] %></p>
            </div>

            <div class="flex">
              <input
              value="2"
              type="radio"
              name="<%= i %>"
              id="ans0"
              class="<%= i %> my-auto ml-4"
            />
            <p class="text-xl font-bold mx-2 my-auto"><%= quiz_data.questions[i].options[2] %></p>
            </div>

            <div class="flex">
              <input
              value="3"
              type="radio"
              name="<%= i %>"
              id="ans0"
              class="<%= i %> my-auto ml-4"
            />
            <p class="text-xl font-bold mx-2 my-auto"><%= quiz_data.questions[i].options[3] %></p>
            </div>


          </div>
      </div>

      <% } %>

      <div class="mx-auto w-max"><input type="submit" value="Submit" class="bg-blue-300 rounded-full py-4 px-12 font-bold text-white text-xl hover:bg-blue-500 transition- duration-500"/></div>
      
      <!-- <div id="showScore" class="scoreArea"> </div> -->
    </form>
  </div>
</div>

<link rel="stylesheet" href="/static/tailwind/quizzer/main_quiz_styles.css" />

<script>
  window.addEventListener('load', function() {
    minutes_left = "<%= quiz_data.quiz_time %>";
    seconds_left = minutes_left * 60;

    var x = setInterval(function() {

        var hours = Math.floor((seconds_left/3600));
        var minutes = Math.floor((seconds_left/60)%60);
        var seconds = Math.floor(seconds_left % 60);
      
        document.getElementById("quiz-timer").innerHTML =  hours + "h "
        + minutes + "m " + seconds + "s ";
      
        seconds_left = seconds_left - 1; 
      
        if (seconds_left < 0) {
          clearInterval(x);
          document.forms["submit-form"].submit();
        }
      }, 1000);
})

</script>
