<script src="/static/Chart.js"></script>
<script src="/static/FeatherIcon.js"></script>

<div class="
    fixed
    bg-blue-400
    shadow-md
    w-full
    px-10
    py-2
    flex
    justify-start
    items-center
  ">
  <a href="/user-reports">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
</a>
    <div class="text-4xl text-white mx-8 my-4"><%= curr_quiz.name %> Report</div>
</div>

<div class="flex flex-wrap h-full w-screen overflow-none p-20">
    <div class="bg-white shadow-md rounded-3xl p-5 w-5/6 m-auto mt-12">
        <p class="text-4xl font-bold text-gray-700 w-100 text-center">Overall Analysis</p>
        <div class="flex">
            <div class="mr-auto w-max">
                <div class="flex items-center justify-center py-8 md:px-4">
                    <div class="xl:w-1/3 flex flex-col 2xl:items-center">
                        <div class="mx-auto flex flex-col items-center">
                            <div>
                                <canvas id="chartjs-2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-auto mx-auto">
                <div>
                    <div class="mt-8">
                        <div class="flex items-center justify-between md:justify-start">
                            <div class="mr-8">
                                <p class="text-xl text-gray-400">Total Questions</p>
                                <p class="text-2xl font-bold text-gray-700 dark:text-gray-400">
                                    <%= curr_response.num_questions %>
                                </p>
                            </div>
                            <div class="pl-8 md:border-l border-gray-100 dark:border-gray-700">
                                <p class="text-xl text-gray-400">Correct</p>
                                <p class="text-2xl font-bold text-gray-700 dark:text-gray-400">
                                    <%= curr_response.correct_resp %>
                                </p>
                            </div>
                        </div>
                        <div class="mt-3 flex items-center justify-between md:justify-start">
                            <div class="mr-8">
                                <p class="text-xl text-gray-400">Incorrect</p>
                                <p class="text-2xl font-bold text-gray-700 dark:text-gray-400">
                                    <%= curr_response.incorrect_resp %>
                                </p>
                            </div>
                            <div class="pl-8 md:border-l border-gray-100 dark:border-gray-700">
                                <p class="text-xl text-gray-400">Not Answered</p>
                                <p class="text-2xl font-bold text-gray-700 dark:text-gray-400">
                                    <%= curr_response.unanswered_resp %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="grid grid-cols-2 my-4">
            <% if ( curr_info.all_built ) { %>
                <p class="text-4xl font-bold text-gray-700 w-100 text-center mt-6">Question-wise Analysis</p>
            <% } else { %>
                <p class="text-4xl font-bold text-gray-700 w-100 text-center mt-6">Question-wise Analysis</p>
                <div onclick="build_all()" class="bg-blue-300 rounded-full py-4 px-12 font-bold text-white text-xl hover:bg-blue-500 mt-12 ml-auto mr-12 transition- duration-500 w-max h-max">
                    Build all Suggestions
                </div>
            <% } %>   
        </div>
        
        <div>

            <% for (var i=0; i < curr_quiz.questions.length; i++) {%>

            <div class="border-solid border-4 m-8 p-8">
                <p class="text-xl font-bold text-gray-400">Question <%= i+1 %>.</p>
                <p class="text-xl font-bold mx-2"><%= curr_quiz.questions[i].question %></h2>
                <div class="flex space-between m-2">
                    <div class="w-2/5">

                        <% if ( curr_response.responses[i] == -1) { %>
                            <!-- Not answered configuration -->
                            <% for (var j=0; j < 4; j++) { %>
                                <div class="flex m-2">
                                    <p class="text-xl font-bold text-gray-400"><%= j+1 %>. </p>
                                    <p class="text-xl font-bold mx-2"><%= curr_quiz.questions[i].options[j] %></p>
                                    <% if ( curr_quiz.questions[i].answer == j ) { %>
                                        <i data-feather="check-circle" style="color: #a5b7ca;" class="my-auto"></i>
                                        <p class="text-gray-400 mx-2 my-auto">Is the Correct Answer</p>
                                    <% } %>
                                </div>
                            <% } %>
                        <% } else if (curr_response.responses[i] == curr_quiz.questions[i].answer ) { %>
                            <!-- Correctly Answered configuration -->
                            <% for (var j=0; j < 4; j++) { %>
                                <div class="flex m-2">
                                    <% if ( curr_quiz.questions[i].answer == j ) { %>
                                        <p class="text-xl font-bold text-green-400"><%= j+1 %>. </p>
                                        <p class="text-xl font-bold mx-2 text-green-400"><%= curr_quiz.questions[i].options[j] %></p>
                                        <i data-feather="check-circle" style="color: #48caaa;" class="my-auto"></i>
                                        <p class="text-green-400 mx-2 my-auto">Answered Correctly</p>
                                        
                                    <% } else { %>
                                        <p class="text-xl font-bold text-gray-400"><%= j+1 %>. </p>
                                        <p class="text-xl font-bold mx-2"><%= curr_quiz.questions[i].options[j] %></p>    
                                    <% } %>
                                </div>
                            <% } %>
                        <% } else { %>
                            <!-- Incorrectly Answered configuration -->
                            <% for (var j=0; j < 4; j++) { %>
                                <div class="flex m-2">
                                    <% if ( curr_quiz.questions[i].answer == j ) { %>
                                        <p class="text-xl font-bold text-gray-400"><%= j+1 %>. </p>
                                        <p class="text-xl font-bold mx-2"><%= curr_quiz.questions[i].options[j] %></p>
                                        <i data-feather="check-circle" style="color: #a5b7ca;" class="my-auto"></i>
                                        <p class="text-gray-400 mx-2 my-auto">Is the Correct Answer</p>
                                    <% } else if (curr_response.responses[i] == j) { %>
                                        
                                        <p class="text-xl font-bold text-pink-500"><%= j+1 %>. </p>
                                        <p class="text-xl font-bold mx-2 text-pink-500"><%= curr_quiz.questions[i].options[0] %></p>
                                        <i data-feather="x-circle" style="color: #ec6ac2;" class="my-auto"></i>
                                        <p class="text-pink-500 mx-2 my-auto">Answered Incorrectly</p>
                                    <% } else { %>
                                        <p class="text-xl font-bold text-gray-400"><%= j+1 %>. </p>
                                        <p class="text-xl font-bold mx-2"><%= curr_quiz.questions[i].options[j] %></p>    
                                    <% } %>
                                </div>
                            <% } %>
                        <% } %>
                    </div>

                    <div class="w-2/5">
                        <p class="text-xl font-bold">Explaination:</p>
                        <p class="mx-2 text-xl">Correct Answer: Option <%= curr_quiz.questions[i].answer + 1 %></p>
                        <p class="mx-2"><%= curr_quiz.questions[i].explain %></p>
                    </div>
                    <div class="mx-auto">
                        <input type="hidden" id = "suggestion_state_holder_<%= i %>" value="<%= curr_response.report_reqs[i] %>"/>
                        <% if ( curr_response.report_reqs[i] == "0" ) { %>
                            <p id="suggestion_state_text_<%= i %>" class="font-bold text-center">Build Suggestions:</p>
                            <i id="suggestion_state_icon_<%= i %>" data-feather="edit" style="height: auto; width: 80%;" class="mt-2 mx-auto" onclick="build_suggestion(<%= i %>)"></i>
                           
                        <% } else { %>
                            <p id="suggestion_state_text_<%= i %>" class="font-bold text-center">Suggested reading:</p>
                            <a href="reading/collection?quiz_code=<%= curr_response.quiz_code %>">
                                <i id="suggestion_state_icon_<%= i %>" data-feather="file-text" style="height: auto; width: 80%;" class="mt-2 mx-auto" onclick="go_to_suggestions(<%= i %>)"></i>
                            </a>
                        <% } %>   

                        
                    </div>
                </div>
            </div>

            <% } %>

        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/tailwind/tailwind_classic.css" />
<link rel="stylesheet" href="/static/reports/report_styles.css">

<script>
    const myBarChart2 = new Chart(document.getElementById("chartjs-2"), {
        type: "doughnut",
        data: {
            labels: ["Correct", "Incorrect", "Not Answered"],
            datasets: [
                {
                    data: ["<%= curr_response.correct_resp %>", "<%= curr_response.incorrect_resp %>", "<%= curr_response.unanswered_resp %>"],
                    fill: false,
                    backgroundColor: ["#53d39a", " #f66183", "#e5e8f1"],
                },
            ],
        },
        options: {
            legend: {
                position: false,
            },
        },
    });
    console.log("ran")

    feather.replace()

    async function build_all(){
        console.log("Clicked build all")
        var num_questions = "<%= curr_response.num_questions %>";

        for(j=0;j<num_questions;j++){
            await build_suggestion(j)
        }
         
        location.reload();
    }

    async function build_suggestion(question_number){
        curr_username = "<%= currentUser.username %>";
        curr_state_holder = document.getElementById("suggestion_state_holder_"+question_number)
        curr_state_text = document.getElementById("suggestion_state_text_"+question_number)
        curr_state_icon = document.getElementById("suggestion_state_icon_"+question_number)

        curr_state = curr_state_holder.value
        curr_quiz_code = "<%= curr_response.quiz_code %>";
        curr_respose_code = "<%= curr_info.response_code %>";

        if(curr_state == "0"){
            curr_state = "1";
            curr_state_holder.value = curr_state;
            curr_state_text.innerHTML = "Processing request";
            
            const res = await fetch(
                `http://localhost:5000/build-suggestion`,
                {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Access-Control-Allow-Origin": "http://localhost:3000",
                        "Access-Control-Allow-Credentials": "true"
                    },
                    body: JSON.stringify({
                        "username":curr_username,
                        "quiz_code":curr_quiz_code,
                        "response_code":curr_respose_code,
                        "question_number":question_number
                    }),
                }
            );

            
             
        }

        console.log("done")
        console.log(question_number)
        
        return question_number;
    }

    // function go_to_suggestions(question_number){
    //     // Redirect to suggestions
    //     window.location.replace="/suggestions";
    // }
</script>