<script src="/static/Chart.js"></script>
<script src="/static/FeatherIcon.js"></script>

<div class="
    fixed
    bg-blue-400
    shadow-md
    w-full
    px-10
    py-2
    flex
    justify-start
    items-center
  ">
  <a href="/user-reports">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="#fff">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
</a>
    <div class="text-4xl text-white mx-8 my-4"><%= curr_quiz.name %> Report</div>
</div>

<div class="flex flex-wrap h-full w-screen overflow-none p-20">
    <div class="bg-white shadow-md rounded-3xl p-5 w-5/6 m-auto mt-12">
        <p class="text-4xl font-bold text-gray-700 w-100 text-center">Overall Analysis</p>
        <div class="flex">
            <div class="mr-auto w-max">
                <div class="flex items-center justify-center py-8 md:px-4">
                    <div class="xl:w-1/3 flex flex-col 2xl:items-center">
                        <div class="mx-auto flex flex-col items-center">
                            <div>
                                <canvas id="chartjs-2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-auto mx-auto">
                <div>
                    <div class="mt-8">
                        <div class="flex items-center justify-between md:justify-start">
                            <div class="mr-8">
                                <p class="text-xl text-gray-400">Total Questions</p>
                                <p class="text-2xl font-bold text-gray-700 dark:text-gray-400">
                                    <%= curr_response.num_questions %>
                                </p>
                            </div>
                            <div class="pl-8 md:border-l border-gray-100 dark:border-gray-700">
                                <p class="text-xl text-gray-400">Correct</p>
                                <p class="text-2xl font-bold text-gray-700 dark:text-gray-400">
                                    <%= curr_response.correct_resp %>
                                </p>
                            </div>
                        </div>
                        <div class="mt-3 flex items-center justify-between md:justify-start">
                            <div class="mr-8">
                                <p class="text-xl text-gray-400">Incorrect</p>
                                <p class="text-2xl font-bold text-gray-700 dark:text-gray-400">
                                    <%= curr_response.incorrect_resp %>
                                </p>
                            </div>
                            <div class="pl-8 md:border-l border-gray-100 dark:border-gray-700">
                                <p class="text-xl text-gray-400">Not Answered</p>
                                <p class="text-2xl font-bold text-gray-700 dark:text-gray-400">
                                    <%= curr_response.unanswered_resp %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-4xl font-bold text-gray-700 w-100 text-center mt-12">Question-wise Analysis</p>
        <div>

            <% for (var i=0; i < curr_quiz.questions.length; i++) {%>

            <div class="border-solid border-4 m-8 p-8">
                <p class="text-xl font-bold text-gray-400">Question <%= i+1 %>.</p>
                <p class="text-xl font-bold mx-2"><%= curr_quiz.questions[i].question %></h2>
                <div class="flex space-between m-2">
                    <div class="w-2/5">

                        <% if ( curr_response.responses[i] == -1) { %>
                            <!-- Not answered configuration -->
                            <% for (var j=0; j < 4; j++) { %>
                                <div class="flex m-2">
                                    <p class="text-xl font-bold text-gray-400"><%= j+1 %>. </p>
                                    <p class="text-xl font-bold mx-2"><%= curr_quiz.questions[i].options[j] %></p>
                                    <% if ( curr_quiz.questions[i].correct_option == j ) { %>
                                        <i data-feather="check-circle" style="color: #a5b7ca;" class="my-auto"></i>
                                        <p class="text-gray-400 mx-2 my-auto">Is the Correct Answer</p>
                                    <% } %>
                                </div>
                            <% } %>
                        <% } else if (curr_response.responses[i] == curr_quiz.questions[i].correct_option ) { %>
                            <!-- Correctly Answered configuration -->
                            <% for (var j=0; j < 4; j++) { %>
                                <div class="flex m-2">
                                    <% if ( curr_quiz.questions[i].correct_option == j ) { %>
                                        <p class="text-xl font-bold text-green-400"><%= j+1 %>. </p>
                                        <p class="text-xl font-bold mx-2 text-green-400"><%= curr_quiz.questions[i].options[j] %></p>
                                        <i data-feather="check-circle" style="color: #48caaa;" class="my-auto"></i>
                                        <p class="text-green-400 mx-2 my-auto">Answered Correctly</p>
                                        
                                    <% } else { %>
                                        <p class="text-xl font-bold text-gray-400"><%= j+1 %>. </p>
                                        <p class="text-xl font-bold mx-2"><%= curr_quiz.questions[i].options[j] %></p>    
                                    <% } %>
                                </div>
                            <% } %>
                        <% } else { %>
                            <!-- Incorrectly Answered configuration -->
                            <% for (var j=0; j < 4; j++) { %>
                                <div class="flex m-2">
                                    <% if ( curr_quiz.questions[i].correct_option == j ) { %>
                                        <p class="text-xl font-bold text-gray-400"><%= j+1 %>. </p>
                                        <p class="text-xl font-bold mx-2"><%= curr_quiz.questions[i].options[j] %></p>
                                        <i data-feather="check-circle" style="color: #a5b7ca;" class="my-auto"></i>
                                        <p class="text-gray-400 mx-2 my-auto">Is the Correct Answer</p>
                                    <% } else if (curr_response.responses[i] == j) { %>
                                        
                                        <p class="text-xl font-bold text-pink-500"><%= j+1 %>. </p>
                                        <p class="text-xl font-bold mx-2 text-pink-500"><%= curr_quiz.questions[i].options[0] %></p>
                                        <i data-feather="x-circle" style="color: #ec6ac2;" class="my-auto"></i>
                                        <p class="text-pink-500 mx-2 my-auto">Answered Incorrectly</p>
                                    <% } else { %>
                                        <p class="text-xl font-bold text-gray-400"><%= j+1 %>. </p>
                                        <p class="text-xl font-bold mx-2"><%= curr_quiz.questions[i].options[j] %></p>    
                                    <% } %>
                                </div>
                            <% } %>
                        <% } %>
                    </div>

                    <div class="w-2/5">
                        <p class="text-xl font-bold">Explaination:</p>
                        <p class="mx-2 text-xl">Correct Answer: Option <%= curr_quiz.questions[i].correct_option + 1 %></p>
                        <p class="mx-2">A simple short explaination can be given over here.</p>
                    </div>
                    <div class="mx-auto">
                        <p class="font-bold text-center">Suggested Reading:</p>
                        <i data-feather="file-text" style="height: auto; width: 80%;" class="mt-2 mx-auto"></i>
                    </div>
                </div>
            </div>

            <% } %>

        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/tailwind/tailwind_classic.css" />
<link rel="stylesheet" href="/static/reports/report_styles.css">

<script>
    const myBarChart2 = new Chart(document.getElementById("chartjs-2"), {
        type: "doughnut",
        data: {
            labels: ["Correct", "Incorrect", "Not Answered"],
            datasets: [
                {
                    data: ["<%= curr_response.correct_resp %>", "<%= curr_response.incorrect_resp %>", "<%= curr_response.unanswered_resp %>"],
                    fill: false,
                    backgroundColor: ["#53d39a", " #f66183", "#e5e8f1"],
                },
            ],
        },
        options: {
            legend: {
                position: false,
            },
        },
    });

    feather.replace()

</script>